.simply-dice-materials-config .settings {
    width: 500px;
    height: 500px;
    overflow-y: scroll;
}

.simply-dice-materials-config .settings .form-group:has(.overridden) {
    background-color: var(--table-row-color-even);
    background-clip: border-box;
}

.simply-dice-materials-config .preview {
    border: 2px solid var(--color-fieldset-border);
    padding: 2px;
    cursor: grab;
}

.simply-dice-materials-config .navigation > * {
    font-size: var(--font-size-20);
    font-weight: bold;
    margin: 2px;
    padding: 3px;
    border: 1px solid var(--color-fieldset-border);
    background-color: var(--content-link-background);
    max-width: fit-content;
}

.simply-dice-materials-config .navigation .clickable:hover {
    background-color: var(--color-text-selection-bg);
    cursor: pointer;
}